/* Setting start  */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

/* Setting end */

/* ***************************************************************** */

/* Header start */

.header {
  background-color: rgba(0, 0, 0, 0.753);
  height: 100px;
  padding: 10px 0;
  width: 100%;
  z-index: 9999;
  top: 0;
  position: fixed;
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__content-image {
  width: 100px;
  padding-left: 20px;
  transition: 0.5s;
}

.header__content-image:hover {
  transform: scale(1.1);
}

.header__content-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 25px;
}

.header__content-link {
  color: #4e09f0;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: italic;
  font-weight: 500;
  padding: 5px 10px;
  background-color: rgba(250, 235, 215, 0.479);
  border-radius: 8px;
  transition: 0.3s;
}

.header__content-link:hover {
  background-color: #4e09f096;
  color: chartreuse;
  border-bottom: 3px solid chartreuse;
  border-right: 3px solid chartreuse;
}

.header__content-tgr {
  width: 50px;
  padding-right: 20px;
  transition: 0.5s;
}

.header__content-tgr:hover {
  transform: scale(1.05);
}

/* Header end*/

/* #Head start */
#head {
  height: 121px;
}
/* #Head end */

/* Stiker start */

.stiker__content-image {
  width: 50px;
  position: fixed;
  bottom: 0px;
  transition: 0.3s;
  left: 1286px;
}

.stiker__content-image:hover {
  transform: rotateY(180deg);
}

/* Stiker end */

/* ************************************************** */

/* Main start */

.main__content {
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.main__content-video {
  max-width: 100%;
  border: 4px solid black;
  transition: 0.3s;
}

/* Main end */
/* ************************************************** */

/* Footer start */

.footer {
  background-color: rgba(0, 0, 0, 0.753);
}

.footer__content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 50px;
  height: 140px;
}

.footer__content-image {
  width: 100px;
  padding-left: 20px;
  transition: 0.5s;
}

.footer__content-image:hover {
  transform: scale(1.2);
}

.footer__content-list1,
.footer__content-list2 {
  display: flex;
  flex-direction: column;
}

.footer__content-link {
  color: aqua;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 500;
  font-style: italic;
  font-size: 12px;
  line-height: 21px;
  transition: 0.3s;
}

.footer__content-link:hover {
  color: chartreuse;
  border-bottom: 1px solid chartreuse;
}

.footer__content-tgr,
.footer__content-tel {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  justify-content: center;
  line-height: 40px;
  color: white;
  transition: 0.3s;
}

.footer__content-tgr:hover,
.footer__content-tel:hover {
  color: chartreuse;
  transform: scale(1.05);
}

.footer__content-tgr,
.footer__content-tel {
  width: 30px;
}

/* Footer end */

/* *********************************************************** */
/* *********************************************************** */
/* *********************************************************** */
/* *********************************************************** */
/* *********************************************************** */

/* Adaptirovanie */

@media (max-width: 1160px) {
  .stiker__content-image {
    bottom: 0px;
    left: 1086px;
  }
}

@media (max-width: 1090px) {
  .stiker__content-image {
    left: 1030px;
    width: 40px;
  }
}

@media (max-width: 1030px) {
  .stiker__content-image {
    left: 970px;
  }
}

@media (max-width: 1000px) {
  .header__content-list {
    gap: 15px;
  }

  .header__content-link {
    font-size: 12px;
    font-weight: 500;
    padding: 3px 6px;
  }

  .stiker__content-image {
    left: 940px;
    width: 35px;
  }
}

@media (max-width: 940px) {
  .stiker__content-image {
    left: 900px;
  }
}

@media (max-width: 850px) {
  .stiker__content-image {
    left: 800px;
    width: 30px;
  }
}

@media (max-width: 800px) {
  .header {
    height: 70px;
  }

  .header__content-image {
    width: 70px;
  }

  #head {
    height: 71px;
  }

  .main__content-video {
    max-width: 600px;
  }

  .footer__content {
    height: 60px;
    justify-content: center;
  }

  .footer__content-image {
    width: 60px;
  }

  .footer__content-list1 {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }

  .footer__content-link {
    font-size: 10px;
    line-height: 0px;
  }

  .footer__content-tgr,
  .footer__content-tel {
    line-height: 10px;
    font-size: 10px;
  }
  .footer__content-tgr,
  .footer__content-tel {
    width: 15px;
  }

  .stiker__content-image {
    left: 770px;
    width: 20px;
  }
}

@media (max-width: 750px) {
  .stiker__content-image {
    left: 710px;
  }
}

@media (max-width: 740px) {
  .stiker__content-image {
    left: 710px;
  }
  .header {
    height: 55px;
  }

  .header__content-image {
    width: 50px;
  }
  .header__content-link {
    font-size: 8px;
    font-weight: 300;
    padding: 3px 6px;
  }
  .header__content-tgr {
    width: 35px;
    padding-top: 5px;
  }

  #head {
    height: 57px;
  }
}

@media (max-width: 710px) {
  .stiker__content-image {
    left: 680px;
  }
}

@media (max-width: 690px) {
  .stiker__content-image {
    left: 660px;
  }
  .header__content-list {
    gap: 5px;
  }
}

@media (max-width: 680px) {
    .stiker__content-image {
      left: 650px;
    }
  }

  @media (max-width: 650px) {
    .stiker__content-image {
      left: 620px;
    }
  }

@media (max-width: 620px) {
  .main__content-video {
    max-width: 400px;
    max-height: 200px;
  }

  .header__content-link {
    font-weight: 300;
    padding: 2px 4px;
    font-size: 8px;
  }

  .footer__content {
    height: 45px;
  }

  .footer__content-image {
    width: 50px;
  }

  .footer__content-link {
    font-weight: 200;
    font-size: 8px;
  }

  .footer__content-tgr,
  .footer__content-tel {
    font-size: 8px;
    gap: 10px;
  }

  .stiker__content-image {
    left: 570px;
    width: 15px;
  }
}

@media (max-width: 570px) {
  .stiker__content-image {
    left: 530px;
  }
}

@media (max-width: 540px) {
  .stiker__content-image {
    left: 500px;
  }

  .footer__content-list1 {
    display: flex;
    flex-direction: row;
    width: 35%;
    flex-wrap: wrap;
    line-height: 0cm;
  }
}

@media (max-width: 500px) {
  .stiker__content-image {
    left: 470px;
  }
}

@media (max-width: 470px) {
  .stiker__content-image {
    left: 435px;
  }

  .header__content-link {
    font-weight: 200;
    padding: 1px 2px;
    font-size: 6px;
  }

  .header__content-tgr {
    width: 30px;
    padding-top: 5px;
  }

  .header {
    height: 33px;
    padding: 2px 0;
  }

  .header__content-image {
    width: 40px;
    padding-top: 3.5px;
  }

  #head {
    height: 34px;
  }
}

@media (max-width: 440px) {
  .stiker__content-image {
    left: 410px;
  }
}

@media (max-width: 410px) {
  .main__content-video {
    max-width: 300px;
    max-height: 150px;
  }

  .stiker__content-image {
    left: 380px;
  }
}

@media (max-width: 380px) {
  .stiker__content-image {
    left: 350px;
  }

  .footer__content-link {
    font-size: 6px;
  }
}

@media (max-width: 350px) {
  .stiker__content-image {
    left: 330px;
    width: 10px;
  }

  .header__content-list {
    gap: 3px;
  }

  .header__content-link {
    font-size: 5px;
  }
  
  .footer__content-tgr,
  .footer__content-tel {
    line-height: 3px;
    font-size: 6px;
  }
  .footer__content-tgr,
  .footer__content-tel {
    width: 10px;
  }
}

@media (max-width: 330px) {
  .stiker__content-image {
    left: 310px;
  }
}

@media (max-width: 310px) {
  .stiker__content-image {
    left: 300px;
  }
}
